<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>IF BLOCK</h1>
        {% if a > b %}
        <h1>{{a}}</h1>
        {% endif %}



        <h1>IF ELSE BLOCK</h1>
        {% if a > b %}
        <h1>a is greater than b</h1>
        {% else %}
        <h1>b is greater than a</h1>
        {% endif %}




        <h1>ELIF BLOCK</h1>
        {% if a > b and a > c %}
        <h1>a is greater than b,c</h1>
        {% elif b > c %}
        <h1>b is greater than a,c</h1>
        {% else %}
        <h1>c is greater than a,b</h1>
        {% endif %}




        <h1>NESTED IF BLOCK</h1>
        {% if a > b and a > c  %}
            {% if b > c %}
            <h1>b is greater than c</h1>
            {% else %}
            <h1>c is greater than b</h1>
            {% endif %}
        {% else %} 
             =






        
        









    </center>
    
</body>
</html>